 body{
  background-color: #888;
}
.card{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 546px;
  height: 275px;
  border: 1px;
  background-color: white;
  border-radius: 20px;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/61/50/24586e4bfa76c0d.jpg');
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}
.top{
  margin: auto;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
}
.bottom{
  margin: auto;
  height: 30%;
  border-radius: 0px 0px 20px 20px;
}
ol{
  list-style-type: none;
  word-spacing: 0.5cm;
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI", Sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: red;
}
.top li{
  display: inline;
}
hr{
  color: #669999;
  background-color: #669999;
  height: 2px;
}
.right li{
  display: block;
  line-height: 1cm;
}
.left p{
  margin: auto;
  width: 20%;
  border: 1px solid;
  font-size: 30px;
  font-family: "Yu Gothic UI", Sans-serif;
  color: red;
  text-align: center;
  float: left;
  padding: 12px 0px 12px 0px;
}
.right{
  margin-left: 90px;
  width: 30%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Yu Gothic", Sans-serif;
  position: absolute;
}
.caption p{
  margin-top: 100px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: "Yu Gothic", Sans-serif;
}
.img2{
  width: 40%;
}
.text{
  width: 60%;
  float: right;
}
img{
  float: left;
  margin-left: 160px;
  margin-bottom: 10px;
  width: 25%;
  heiht: 50px;
}
.text li{
  margin-top: 5px;
  padding: 12px;
  list-style-type: none;
  line-height: 0;
  texta-lign: center;
  font-family: "Yu Gothic", Sans-serif;
}
@media only screen and (min-width: 600px) {
  body {
    orientation: landscape;
  }
}
